/* This stylesheet defines layout styles only. No colors, fonts, etc. Only sizes, padding, etc. */

.spacer {
	clear: both;
}

.container {
    max-width: 900px;

	margin-left: auto;
	margin-right: auto;
}

.section {
	margin-bottom: 6px;

	padding: 4px;
}

.section:last-child {
	margin-bottom: 0px;
}

.column {
	width: 50%;
	display: inline-block;
	padding-right: 4px;
}

.column:last-child {
	padding-right: 0px;
}

#task_details {
	float: right;
}

#list {
	min-height: 200px;
}

ol, li {
}

body {

}

.header {
}

.footer {
}

.title {
}

#title {
}

#date {
	float: right;
}

.form_row {
	margin-bottom: 4px;
}

.form_row:last-child {
	margin-bottom: 0px;
}

.form_label, input {
	display: inline;
	vertical-align: bottom;
	margin-right: 2px;
}

input:last-child {
	margin-right: 0px;
}

form {
}

input {
	vertical-align: top;
}

input[type=text], input[type=datetime], input=[type=number] {
	height: 24px;
}

input[type=datetime] {
	max-width: 150px;
}

input[type=number] {
	max-width: 100px;
}

input[type=button], input[type=submit] {
	height: 26px;
}

input[type=checkbox] {
	position: relative;
}

input[name=input_task_description] {
	width: 94%;
}

input[name=button_add_task] {
	float: right;
	width: 5%;
}

input[name=input_task_duration] {
}

.list {
	margin: 0px;
	padding: 0px;
}

.task {
	padding: 0px;
	margin-bottom: 2px;
	width: 100%;
}

.task:last-child {
	margin-bottom: 0px;
}

.task_description {
	display: inline-block;
	vertical-align: top;
}